@import "tailwindcss";

body {
  margin: 0;
  background-color: #0d1117;
  color: #f3f4f6;
}

/* Custom Scrollbar for a more IDE-like feel */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0d1117; 
}
 
::-webkit-scrollbar-thumb {
  background: #2e303a; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563; 
}
